<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controlleur.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>admin/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controlleur.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>logoutController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>catProjetServlet</servlet-name>
        <servlet-class>controlleur.catProjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catProjetServlet</servlet-name>
        <url-pattern>catProjectController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProjetServlet</servlet-name>
        <servlet-class>controlleur.projectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjetServlet</servlet-name>
        <url-pattern>projectController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DomaineServlet</servlet-name>
        <servlet-class>controlleur.domaineController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DomaineServlet</servlet-name>
        <url-pattern>domaineController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExperienceServlet</servlet-name>
        <servlet-class>controlleur.experienceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExperienceServlet</servlet-name>
        <url-pattern>experienceController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourrierServlet</servlet-name>
        <servlet-class>controlleur.courrierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourrierServlet</servlet-name>
        <url-pattern>courrierController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdmninistrateurServlet</servlet-name>
        <servlet-class>controlleur.administrateurController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdmninistrateurServlet</servlet-name>
        <url-pattern>administrateurController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controlleur.profileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>profileController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lienServlet</servlet-name>
        <servlet-class>controlleur.lienController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lienServlet</servlet-name>
        <url-pattern>lienController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompetanceServlet</servlet-name>
        <servlet-class>controlleur.competanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompetanceServlet</servlet-name>
        <url-pattern>competanceController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CursusServlet</servlet-name>
        <servlet-class>controlleur.cursusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CursusServlet</servlet-name>
        <url-pattern>cursusController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>themeServlet</servlet-name>
        <servlet-class>controlleur.themeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>themeServlet</servlet-name>
        <url-pattern>themeController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PortfolioServlet</servlet-name>
        <servlet-class>controlleur.portfolioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PortfolioServlet</servlet-name>
        <url-pattern>portfolioController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>controlleur.homeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>homeServlet</url-pattern>
    </servlet-mapping>
</web-app>